<div class="row">
    <div class="col-6 col-md">
        <p >
            © 2021 - {{ year }} Copyright <span class="custom-black"><a class="text-muted" href="{% url 'posts:index' %}">JessieGram</a></span>
        </p>
    </div>
    <div class="col-6 col-md">
        <h5>Подробности</h5>
        <ul class="list-unstyled text-small">
            <li>
                <a class="text-muted" href="{% url 'about:tech' %}">Технологии</a>
            </li>
            <li>
                <a class="text-muted custom-blue" href="https://www.t.me/feel2code">Контакты</a>
            </li>
        </ul>
    </div>
</div>
