{% with request.resolver_match.view_name as view_name %}
    {% load i18n %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
         aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'posts:index' %}">
                {% load static %}
                <img src="{% static 'img/logo.svg' %}"
                     width="108"
                     height="30"
                     class="d-inline-block align-top"
                     alt={% trans 'Logo.with.a.dog' %}/>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample05"
                    aria-controls="navbarsExample05"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                {% if LANGUAGE_CODE == lang.0 %}
                    <div class="nav-link custom-all-white small">{{lang.0.upper}}</div>
                {% else %}
                    <div class="nav-link small" >
                        <a href="{% url 'posts:set_language' %}?l={{lang.0}}">{{lang.0.upper}}</a>
                    </div>
                {% endif %} |
                {% endfor %}
            <div class="col-6"></div>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-current="page"
                               href="{% url 'posts:post_create' %}">
                                {% if view_name == 'posts:post_create' %}
                                    <img src="{% static 'img/new_post.svg' %}"
                                         width="30"
                                         height="30"
                                         alt="new post button"/>
                                {% else %}
                                    <img src="{% static 'img/new_post_inactive.svg' %}"
                                         width="30"
                                         height="30"
                                         alt="new post button"/>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               {% if view_name == 'posts:profile' %}style="color:white"{% endif %}
                               href="#"
                               id="dropdown03"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">@{{ user.username }}</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li>
                                    <a class="dropdown-item" href="{% url 'posts:profile' user.username %}">{% trans 'Account' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'posts:follow_index' %}">{% trans 'Subscriptions' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'posts:group_create' %}">{% trans 'Create group' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:password_change' %}">{% trans 'Change password' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">{% trans 'Logout' %}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-current="page"
                               {% if view_name == 'users:login' %}style="color:white"{% endif %}
                               href="{% url 'users:login' %}">{% trans 'Sign in' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-current="page"
                               {% if view_name == 'users:signup' %}style="color:white"{% endif %}
                               href="{% url 'users:signup' %}">{% trans 'Sign up' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endwith %}
