{% extends "base.html" %}
{% block title %}
    Новый пост
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">
                        {% if not is_edit %}
                            Добавить запись
                        {% else %}
                            Редактировать запись
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row my-3 p-3">
                                {% if is_edit %}
                                    <p>
                                        Текст поста: <b>{{ post.text }}</b>
                                    </p>
                                {% endif %}
                                {% for field in form %}
                                    <div class="form-group row my-3">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                                        </label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        {% if not is_edit %}
                                            Добавить запись
                                        {% else %}
                                            Сохранить
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
