{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ group }}
{% endblock title %}
{% block content %}
    {% load thumbnail %}
    {% load i18n %}
    <div class="py-0 custom-background-group">
        <div class="container py-3">
            <div class="bg-white box-shadow custom-container-blob">
                <div class="custom-container-blob80">
                    <h5 class="px-3 custom-text-left">{{ group }}</h5>
                    <div class="px-3 custom-text-left custom-all-grey">
                        <p>
                            {{ group.description }}
                        </p>
                        {% trans 'Posts in the group:' %} {{ page_obj.object_list.count }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-3">
            <br />
            <div class="row">
                {% for post in page_obj %}
                    <div class="col-md-4">{% include "posts/includes/one_post.html" %}</div>
                {% endfor %}
            </div>
            {% include "posts/includes/paginator.html" %}
        </div>
    </div>
{% endblock content %}
