{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <div style="text-align: center;" class="bg-light">
        <div class="bg-white box-shadow mx-auto" style="width: 40%; height: 400px; border-radius: 21px 21px 21px 21px;">
            <p>
            <h2 align="center">🐕JessieGram🐈</h2>

            <h5 align="center">
                "Jessiegram" – это проект, созданный на платформе Django,<br>
                Тут можно зарегистрировать аккаунт, создавать посты со своими питомцами,<br>
                комментировать и лайкать посты других любителей животных.<br>
                Также вы можете следить за авторами, чьи посты вам нравятся.<br>
                Добро пожаловать в JessieGram!<br>
            </h5>

            <p align="center">
                <a href="https://python.org">
                    <img src="http://forthebadge.com/images/badges/made-with-python.svg" alt="made-with-python">
                </a><br>
                <a href="https://GitHub.com/feel2code">
                    <img src="http://ForTheBadge.com/images/badges/built-with-love.svg" alt="built-with-love">
                </a> <br>
                <a href="http://www.djangoproject.com/"><img
                        src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0"
                        alt="Powered by Django." title="Powered by Django."/></a><br>
            </p>
        </div>
    </div>
{% endblock %}